accelerate==0.21.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
altair==5.0.1
anthropic==0.3.9
anyio==3.7.1
appdirs==1.4.4
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
bentoml==1.1.1
bitsandbytes==0.41.1
Brotli==1.0.9
build==0.10.0
cattrs==23.1.2
certifi==2023.7.22
charset-normalizer==3.2.0
chroma-hnswlib==0.7.2
chromadb==0.4.5
circus==0.18.0
clarifai==9.7.0
clarifai-grpc==9.7.0
click==8.1.6
click-option-group==0.5.6
cloudpickle==2.2.1
cohere==4.19.3
coloredlogs==15.0.1
contextlib2==21.6.0
contourpy==1.1.0
cycler==0.11.0
dataclasses-json==0.5.14
datasets==2.14.4
deepmerge==1.1.0
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
distro==1.8.0
exceptiongroup==1.1.2
fastapi==0.99.1
fastavro==1.8.2
fastcore==1.5.29
ffmpeg-python==0.2.0
ffmpy==0.3.1
filelock==3.12.2
filetype==1.2.0
flatbuffers==23.5.26
fonttools==4.42.0
frozenlist==1.4.0
fs==2.4.16
fsspec==2023.6.0
future==0.18.3
ghapi==1.0.4
googleapis-common-protos==1.60.0
gradio==3.40.1
gradio_client==0.4.0
greenlet==2.0.2
grpcio==1.57.0
grpcio-health-checking==1.57.0
h11==0.14.0
httpcore==0.17.3
httptools==0.6.0
httpx==0.24.1
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
importlib-metadata==6.0.1
importlib-resources==6.0.1
inflection==0.5.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kiwisolver==1.4.4
langchain==0.0.262
langsmith==0.0.22
linkify-it-py==2.0.2
llvmlite==0.40.1
manifest-ml==0.0.1
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.2
mdit-py-plugins==0.3.3
mdurl==0.1.2
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mutagen==1.46.0
mypy-extensions==1.0.0
networkx==3.1
nlpcloud==1.1.44
numba==0.57.1
numexpr==2.8.5
numpy==1.24.4
onnxruntime==1.15.1
openai==0.27.8
openai-whisper==20230314
openapi-schema-pydantic==1.2.4
openllm==0.2.22
openlm==0.0.5
opentelemetry-api==1.18.0
opentelemetry-instrumentation==0.39b0
opentelemetry-instrumentation-aiohttp-client==0.39b0
opentelemetry-instrumentation-asgi==0.39b0
opentelemetry-instrumentation-grpc==0.39b0
opentelemetry-sdk==1.18.0
opentelemetry-semantic-conventions==0.39b0
opentelemetry-util-http==0.39b0
optimum==1.11.1
orjson==3.9.4
overrides==7.4.0
packaging==23.1
pandas==2.0.3
pathspec==0.11.2
Pillow==10.0.0
pip-requirements-parser==32.0.1
pip-tools==7.3.0
posthog==3.0.1
prometheus-client==0.17.1
protobuf==4.24.0
psutil==5.9.5
pulsar-client==3.2.0
pyarrow==12.0.1
pycryptodomex==3.18.0
pydantic==1.10.12
pydub==0.25.1
Pygments==2.16.1
pynvml==11.5.0
pyparsing==3.0.9
PyPika==0.48.9
pyproject_hooks==1.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
python-multipart==0.0.6
python-rapidjson==1.10
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.1
redis==4.6.0
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
rich==13.5.2
rpds-py==0.9.2
safetensors==0.3.2
schema==0.7.5
scikit-learn==1.3.0
scipy==1.11.1
semantic-version==2.10.0
sentencepiece==0.1.99
simple-di==0.1.5
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.19
sqlitedict==2.1.0
sse-starlette==1.6.5
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
tblib==2.0.0
tenacity==8.2.2
threadpoolctl==3.2.0
tiktoken==0.3.1
tokenizers==0.13.3
tomli==2.0.1
toolz==0.12.0
torch==2.0.1
tornado==6.3.3
tqdm==4.66.1
transformers==4.31.0
tritonclient==2.34.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==2.0.4
uvicorn==0.23.2
uvloop==0.17.0
watchfiles==0.19.0
wcwidth==0.2.6
websockets==11.0.3
wrapt==1.15.0
xinference==0.0.6
xorbits==0.5.0
xoscar==0.0.9
xxhash==3.3.0
yarl==1.9.2
youtube-search-python==1.6.6
yt-dlp==2023.7.6
zipp==3.16.2
