.hero {
    padding-top: 2rem;
    position: relative;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

}

.mainTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}